/* ------------------------------------------------------------------ */
/* Semi Compact Mode                                                  */
/* ------------------------------------------------------------------ */

[class*="cozy_"] {
  [class^="header_"] {
    margin-left: calc(var(--custom-message-avatar-size) + var(--space-xs));
  }
  [class^="repliedMessage_"] {
    margin-left: calc(var(--custom-message-avatar-size) + var(--custom-message-margin-horizontal));
  }
  &[class*="hasThread_"]:after {
    left: calc(var(--custom-message-margin-horizontal) - var(--space-xs) - 1px);
    width: var(--space-xs);
    
    border-top: 2px solid var(--spine-default);
    border-top-left-radius: 8px;
    top: calc(
      var(--custom-message-spacing-vertical-container-cozy) 
      + var(--custom-message-avatar-size)/2
    ) !important;
  }
  &[class*="hasThread_"][class*="hasReply_"]:after {
    top: calc(
      var(--custom-message-spacing-vertical-container-cozy) 
      + var(--custom-message-avatar-size)/2 
      + var(--custom-message-reply-message-preview-line-height) 
      + 4px
    ) !important;
  }
  [class*="timestamp_"][class*="alt_"] {
    width: calc(100% - 4px);
    z-index: -1;
  }
}